@import "./utils/variables.scss";
@import "./utils/reset.scss";
@import "./components/header";
@import "./components/advantages";
@import "./components/responsibilities";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal";
@import "./components/btn-list";
@import "./components/grid";
