.logo {
  width: 145px;
  margin: 24px 93px 25px 0;
  display: flex;
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;

  &__web {
    color: #000000;
    text-decoration: none;
  }
  &__studio {
    text-decoration: none;
    color: var(--blue);
  }
}
.nav {
  display: flex;
  width: 254px;
  margin: 32px 350px 32px 0;
  justify-content: space-between;
  list-style-type: none;
  line-height: 0.875;
  &__agency {
    &:hover {
      color: var(--blue);
    }
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--dark-grey);
  }
  &__portfolio {
    &:hover {
      color: var(--blue);
    }
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--dark-grey);
  }
  &__contact {
    &:hover {
      color: var(--blue);
    }
    position: relative;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--dark-grey);
  }
}
.contacts {
  display: flex;
  width: 295px;
  margin: 32px 0 32px 0;
  justify-content: space-between;
  list-style-type: none;
  line-height: 0.875;
  align-items: center;

  &__icons {
    &:hover {
      fill: var(--blue);
      cursor: pointer;
    }
    &:focus {
      fill: var(--blue);
      cursor: pointer;
    }
    fill: var(--light-grey);
    align-items: stretch;
  }
  &__email {
    &:hover {
      color: var(--blue);
    }
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--light-grey);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    color: var(--blue);
  }

  &__telephone {
    &:hover {
      color: var(--blue);
    }
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    color: var(--light-grey);
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus {
    color: var(--blue);
  }
}
